:root {
    --color-background: #e7c593;
    --color-gray: rgb(66, 66, 66);
}

body {
    background-color: var(--color-background);
}

a {
    color: var(--color-gray) !important;
    background-color: var(--color-background) !important;
}

img {
    border: 0.5rem solid var(--color-gray);
}

span.caption {
    white-space: pre;
    text-align: center;
    font-style: italic;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.12em;
    font-weight: normal;
}

h1 i, .cbig250 i {
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem !important;
    font-variant: normal;
}